/* backButton.css */
#backButtonContainer {
    position: absolute;
    top: 20px;
    left: 20px;
}

.buttonBlue {
    background-color: #4285F4; /* Blue */
}

.buttonGreen {
    background-color: #34A853; /* Green */
}

.buttonYellow {
    background-color: #FBBC05; /* Yellow */
}

.buttonOrange {
    background-color: #FF7043; /* Orange */
}

.buttonRed {
    background-colour: #FF3636; /* Red */
}

#backButton {
    background-color: transparent;
    color: #FFA500;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    display: inline-block;
    border: 2px solid #FFA500; /* Add border to make it visible */
    transition: all 0.3s ease;
}

    #backButton:hover,
    #backButton:focus {
        background-color: #FFA500;
        color: white;
    }
